@font-face {
    font-family: 'Raleway';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('raleway-bold-webfont.woff2') format('woff2'),
         url('raleway-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun';
    src: url('sarabun-regular-webfont.woff2') format('woff2'),
         url('sarabun-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Sarabun';
    src: url('sarabun-bold-webfont.woff2') format('woff2'),
         url('sarabun-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
